  @media (max-width:960px){
  
    .estrutura{
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "sidenav"
    "content"
    "formulario"
    "footer";
        }
    }

    @media (max-width: 760px){
        .header{
            grid-template-columns: auto;
        }
        .logo{
            margin-bottom: 20px;
        }
        .header nav a{
            font-size: 1em;
        }
        .header li + li{
           margin-left: 10px;
        }
  
        .formulario{
           grid-template-columns: auto;
     }

        .navbar a {
            float: none;
            display: block;
          }
          
     }

    @media (max-width:600px){
 
        .content{
        grid-template-columns: auto;
         }
        }

    @media (max-width:600px){
  
        .sidenav{
        grid-template-columns: auto;
        
         }
         .sidenav ul{
             align-self: center;
             display: inline-block;
             margin-left: 33%;
         }
        }

 