body{
 font-family:'Inter', 'Calibri','Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
}


img{
    display: block;
    width: 100%;
    border-radius: 5px;
}

p{
    font-size: 1.2em;
    line-height: 1.6;
    color: rgba(0, 0, 0, .7);
}

.p-justificado{
    text-align: justify;
}

/*------------Estrutura do Site-------------*/

.estrutura{
    display: grid;
    height: 100%;
    width: auto;
    grid-template-columns:minmax(160px, auto) 1fr auto;
    grid-template-areas:
    "header header header"
    "sidenav content content" 
    "footer footer footer";
}

.sidenav{
    grid-area: sidenav;
}


.content{
    grid-area: content;
}

.footer{
    grid-area: footer;
}
/*----------------FIM DA ESTRUTURA-------------*/

/*----------------Estilo Header----------------*/
.header{
    grid-area: header;
    background: linear-gradient(135deg,#3CB371, #98FB98 );
    padding: 20px;
    display: flex;
    grid-template-columns: 200px auto;
    align-items: center;
}
.header .titulo_logo {
    margin: 0 auto;
    max-width: 200px;
    background: white;
    border-radius: 10px;
    
    
}
.logo{
    max-width: 150px;
    background: white;
    border-radius: 10px;

   }
   .item-1{
       display: flex;
       font-size: 2em;
       font-weight: bold;
   }

.header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header nav a{
    display: block;
    padding: 10px; 
    color: #fff;
    font-size: 1.2em;
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
    transition: 0.1s;
}
.header nav a:hover{
    background: rgba(0, 0, 0, .5);
    
}

.header li + li{
    margin-left: 30px;
}

/*------------FIM DO HEADER------------------*/


/*-------------INICIO SIDENAV----------------*/

.sidenav{
    background: linear-gradient(135deg,#2E8B57, #3CB371 );
    padding: 30px;
}

.sidenav li a{
    display: block;
    min-width: 60px;
    max-width: 100px;
    margin: 0 auto 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    transition: 0.1s ease-out;
    text-align: center;
    font-weight: bold;
    color: #000	;
}

.sidenav li a:hover{
    background:#98FB98;
    }

    .sidenav ul ul{
        display: none;
    }

    .sidenav ul ul li a{
        min-width: 40px;
        max-width: 80px;
        margin: 0 auto 30px auto;
        background: #fff;
        padding: 10px;
    }
    .sidenav ul .sub-menu.show{
        display: block;
    }
    .seta{
        width: 20px;
        display: block;
        position: relative;
        left: 90%;
        margin-top: -20px;
        
    }
/*-------------FIM SIDENAV-------------------*/

/*-------------INICIO CONTENT---------------*/
.content{
    height: 100;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.col-total{
    grid-column: 1 / -1;
   }

/*-----Estilos do Conteúdo------*/
.titulo{
    color: #3CB371;
}
.titulo h1{
    font-size: 3.75em;
    line-height: 1;
    font-weight: bold;
    text-align: center;
}

.titulo span{
    display: block;
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
}

.informacoes p + p{
    margin-top: 30px;
}


/*------Estilo paragrafo---------*/

.parag-1{
    font-size: 0.875em;
    color:seagreen;
    max-width: 16em;
}

/*------Estilo Blockquote---------*/
.depoimentos, .atributos{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
    background:linear-gradient(135deg,#3CB371, #98FB98 );
    align-self: start;
}

.citacao p{
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    color: darkgreen;
}

.atributos li{
    color: darkgreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.125em;
    padding: 15px;
   }

.atributos li + li{
    border-top: 2px solid;
}

.img1{
margin: 0 auto;
}
.p-central{
    text-align: center;
}
.img__central{
  min-width: 40%;
  max-width: 60%;
  margin: 0 auto;
 }
 .bold{
     font-weight: bold;
 }
 .f-green{
     color: #2E8B57;
     font-weight: bolder;
 }

/*-------------FIM CONTENT-----------------*/



/*-------------INICIO FOOTER-----------------*/

.footer{
    bottom:0;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "logo-rodape  texto-rodape"
    "logo-rodape  img-rodape";

    align-content: center;
    background: linear-gradient(135deg,#2E8B57, #82f582 );
}


.logo-rodape{
grid-area: logo-rodape;
}

.texto-rodape{
grid-area: texto-rodape;
}

.img-rodape{
    grid-area: img-rodape;
    }
/*----------------------------------*/
.footer p{
    color: #fff;
    }

.img-rodape  {
    display: flex;
    flex-wrap: wrap;
}

.imgbot{
    margin-left: 10px;
    display: flex;
    height: 32px;
    width: 32px;
    cursor: pointer;
}
.logo-rodape{
    max-width: 150px;
    background: white;
    border-radius: 10px;
    margin: 10px auto;
    
   }

/*-------------FIM FOOTER------------------*/

/*-------------Carrosel--------------------*/

.carrosel{
    border-radius: 10px;
    overflow: hidden;
}


.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;

}

.slide img{
    width: 100%;
    height: 500px;
}


/*css for manual slide navigation*/

.navigation-manual{
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #3CB371;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #3CB371;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/* css for automatic navigation*/

.navigation-automatic{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-automatic div{
    border: 2px solid #3CB371;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-automatic div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-automatic .auto-btn1{
    background: #3CB371;
}

#radio2:checked ~ .navigation-automatic .auto-btn2{
    background: #3CB371;
}

#radio3:checked ~ .navigation-automatic .auto-btn3{
    background: #3CB371;
}

#radio4:checked ~ .navigation-automatic .auto-btn4{
    background: #3CB371;
}
/*-------------Fim Carrosel----------------*/

/*-------------Início Contato----------------*/


.formulario {
    text-align: center;
    background: linear-gradient(135deg,#2E8B57, #82f582 );
    margin:  0 auto;
    padding: 20px;
    border-radius: 20px;
   
}
.formulario p{
    font-size: 1.2em;
    line-height: 1.6;
    color: rgba(0, 0, 0, .7);
    text-align: left;
}


form input[type=text],
form input[type=email],
form input[type=textarea] {
    width: 80%;
    height: 35px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
    outline:0;
    border-radius:10px
}

form input[type=tel]{
    width: 70%;
    height: 30px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
    outline:0;
    border-radius:10px;
}

form input[type=submit],
form input[type=reset] {
    width: 20%;
    height: 30px;
    cursor: pointer;
    background: #fff;
    color:#3CB371;
    border:0;
    border-radius: 20px;
    transition: 1s;
}

form input[type=submit]:hover,
form input[type=reset]:hover{
    background: #bfbfbf;
}

form select{
    width: 20%;
    height: 30px;
    background: #fff;
    color:#000;
    border:0;
    border-radius: 20px;
    text-align: center;
    
}
/*-------------Fim Contato----------------*/

#mensagem {
    transition: all 0.52s;
    background: #FFF;
    border: #777 solid 1px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.52);
    position: fixed;
    top: -150px;
    width: 50%;
    padding: 25px 0;
    text-align: center;
    left: 25%;
    opacity: 0;
  }

  #mensagem.ver {
    top: 75px;
    opacity: 1;
  }